body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  h1 {
    margin-top: 0;
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: normal;
  }
  
  li:nth-child(even) {
    background-color: #ccc;
  }
  
  li:last-child {
    margin-bottom: 0;
  }
  